.Desk {
  position: absolute;
  border: 2px solid red;
}

.Desk--north,
.Desk--south {
  width: 4.8%;
  height: 2.9%;
}

.Desk--east,
.Desk--west {
  height: 5.8%;
  width: 2.45%;
}
/*
.Desk--east {
  transform: rotate(-90deg);
}

.Desk--west {
  transform: rotate(90deg);
}

.Desk--south {
  transform: rotate(180deg);
}*/

